# General
/bin/

# Bundler
/.config/bundle/cache/

# Git
/.config/git/config_local

# GitHub CLI
/.config/gh/hosts.yml

# irb (Interactive Ruby)
/.config/irb/irb_history

# npm
/node_modules

# tmux
/.config/tmux/plugins/

# Vim
/.config/nvim/.netrwhist
