# General
/bin/

# Bundler
/.config/bundle/cache/

# Git
/.config/git/config_local

# npm
/node_modules

# tmux
/.config/tmux/plugins/

# Vim
/.config/nvim/.netrwhist

# coc.nvim
/.config/coc/commands
/.config/coc/extensions/
/.config/coc/history.json
/.config/coc/list-extensions-history.json
/.config/coc/list-lists-history.json
/.config/coc/list-location-history.json
/.config/coc/lists
/.config/coc/memos.json
/.config/coc/mru
/.config/coc/snippets-mru
