[color]
	# ref. https://qiita.com/nokino/items/71ecca7bc0e2e3da6228
	# "git diff | less" shows colorful diffrence
	# when the escape sequence is in the way, delete the following config
	diff = always
	diff-highlight = always
[color "diff"]
	# ref. https://qiita.com/qurage/items/452f2debb64e2708a46c
	# ref. https://git-scm.com/docs/git-config#git-config-colordiffltslotgt<Paste>
	meta = blue normal
[core]
	# ref. https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
	excludesfile = ~/.gitignore_global
[diff]
	# renameLimit = 9999
	# highlight whitespace
	wsErrorHighlight = all
[ghq]
	root = ~/dev/src
[pager]
	# ref. https://github.com/git/git/tree/master/contrib/diff-highlight
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
