# General
/bin/

# Bundler
/.config/bundle/cache/

# configstore
/.config/configstore/

# Docker
# config.json mixes environment-specific state (auths, credsStore, credHelpers)
# with personal preferences (detachKeys). Personal preferences are set via setup.sh.
/.config/docker/

# gcloud
/.config/gcloud/

# gh
/.config/gh/hosts.yml

# Git
/.config/git/config_local

# GitHub CLI
/.config/gh/hosts.yml

# irb (Interactive Ruby)
/.config/irb/irb_history

# npm
/node_modules

# 1Password
/.config/op/

# Vim
/.config/nvim/.netrwhist
